:root {
}

.unity-base-slider__tracker {
    background-color: rgb(36, 0, 89);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 10px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.unity-base-slider__dragger {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.unity-base-slider__fill {
    background-color: rgb(116, 0, 176);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.unity-base-field__label {
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/MyFont.ttf?fileID=12800000&guid=6384753b77039dc43a7bf85678bfc68d&type=3#MyFont");
    color: rgb(255, 255, 255);
    -unity-text-outline-color: rgb(0, 0, 0);
    padding-right: 0;
    -unity-text-align: middle-left;
    font-size: 29px;
    right: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-basis: 420px;
    -unity-text-outline-width: 1px;
}
