:root {
}

.unity-toggle {
    background-color: rgba(10, 15, 25, 0);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    border-radius: 6px;
    transition-duration: 0.15s;
    -unity-text-align: upper-left;
}

.unity-toggle:hover {
    background-color: rgba(25, 35, 55, 0);
}

.unity-toggle__checkmark {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgb(80, 130, 255);
    border-width: 2px;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    transition-duration: 0.1s;
    margin-right: 46px;
}

.unity-toggle__input:checked > .unity-toggle__checkmark {
    background-image: none;
    border-color: rgb(15, 20, 30);
    border-width: 4px;
    background-color: rgb(100, 255, 50);
    outline-color: rgb(80, 130, 255);
    outline-width: 2px;
}
