:root {
}

.header {
    font-size: 74px;
}

.button {
    width: 220px;
    height: 74px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
}
